<div class="container">
  
  <h1 class="text-center">うるぞーのブログ</h1>
  
  <div class="row">
  </div>
  
  <div class="row">
    <% @articles.each do |article| %>
      <div class="col-md-3 margin-top-5per article-block">
       <%= link_to article_path(article) do %>
        <%= image_tag "test1.png", class:'img-thumbnail' %>
        <P class="title"><%= article.title %></P>
        <span>
          <%= article.created_at.strftime('%Y/%m/%d')  %>
        </span>
       <% end %>
      </div>
    <% end %>
  </div>
</div>
